@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

body {
    background: linear-gradient(to right, #1e5799 0%, #2ce0bf 19%, #76dd2c 40%, #dba62b 60%, #e02cbf 83%, #1e5799 100%);
    background-size: 10000px 100%;
    animation: bg 15s linear infinite;
    font-family: 'Dyna Puff', cursive;
}
@keyframes bg {
    0% {
        background-position-x: 0;
   }
    100% {
        background-position-x: 10000px;
   }
}


h1{
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
}

.container {
    background-image: url(todolist.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 660px;
  margin-right: 640px;
  padding-bottom: 500px;
}

.form{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#inputField {
    width: 300px;
    height: 46px;
    border-width: 0;
    border: 1px solid black;
    border-radius: 30px;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    padding: 10px;
    margin: 10px;
}

#addToDo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 30px;
    vertical-align: middle;
    font-size: 30px;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

.checkbox-styling {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 10px;
  }

.to-dos {
    margin-top: 25px;
}
